<%= form_for(@dudada) do |f| %>
  <% if @dudada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dudada.errors.count, "error") %> prohibited this dudada from being saved:</h2>

      <ul>
      <% @dudada.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :aaa %><br>
    <%= f.number_field :aaa %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
